USAGE
  poetry export [-f <...>] [-o <...>] [--without-hashes] [--dev] [-E <...>] [--with-credentials]

OPTIONS
  -f (--format)          Format to export to. Currently, only requirements.txt is supported. (default: "requirements.txt")
  -o (--output)          The name of the output file.
  --without-hashes       Exclude hashes from the exported file.
  --dev                  Include development dependencies.
  -E (--extras)          Extra sets of dependencies to include. (multiple values allowed)
  --with-credentials     Include credentials for extra indices.

GLOBAL OPTIONS
  -h (--help)            Display this help message
  -q (--quiet)           Do not output any message
  -v (--verbose)         Increase the verbosity of messages: "-v" for normal output, "-vv" for more verbose output and "-vvv" for debug
  -V (--version)         Display this application version
  --ansi                 Force ANSI output
  --no-ansi              Disable ANSI output
  -n (--no-interaction)  Do not ask any interactive question

